@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-OeZHjrCUF: #59e3fc;
  --plasmic-token-primary: var(--token-OeZHjrCUF);
  --token-SfT2CVw-7: #ce45ff;
  --plasmic-token-secondary: var(--token-SfT2CVw-7);
  --token--udBLKooZ: #f3f3f3;
  --plasmic-token-background: var(--token--udBLKooZ);
}

.plasmic_default_styles {
  --mixin-avP64sJBFoAi_font-family: "Inter";
  --mixin-avP64sJBFoAi_font-size: 16px;
  --mixin-avP64sJBFoAi_font-weight: 400;
  --mixin-avP64sJBFoAi_font-style: normal;
  --mixin-avP64sJBFoAi_color: #535353;
  --mixin-avP64sJBFoAi_text-align: left;
  --mixin-avP64sJBFoAi_text-transform: none;
  --mixin-avP64sJBFoAi_line-height: 1.5;
  --mixin-avP64sJBFoAi_letter-spacing: normal;
  --mixin-avP64sJBFoAi_white-space: pre-wrap;
  --mixin-avP64sJBFoAi_user-select: text;
  --mixin-avP64sJBFoAi_text-decoration-line: none;
  --mixin-avP64sJBFoAi_text-overflow: clip;
  --mixin-HyCETYfCXQ5__color: #000000;
  --mixin-HyCETYfCXQ5__font-weight: 900;
  --mixin-HyCETYfCXQ5__font-size: 72px;
  --mixin-HyCETYfCXQ5__line-height: 1;
  --mixin-HyCETYfCXQ5__letter-spacing: -4px;
  --mixin-sUsnO7W6X3Zg_font-family: "Inter";
  --mixin-sUsnO7W6X3Zg_color: #000000;
  --mixin-sUsnO7W6X3Zg_font-size: 48px;
  --mixin-sUsnO7W6X3Zg_font-weight: 700;
  --mixin-sUsnO7W6X3Zg_letter-spacing: -1px;
  --mixin-sUsnO7W6X3Zg_line-height: 1.1;
  --mixin-AaT4HR3dWzms_color: #0070f3;
  --mixin-7DHYRMt2Jlfe_font-family: "Inter";
  --mixin-7DHYRMt2Jlfe_color: #000000;
  --mixin-7DHYRMt2Jlfe_font-size: 32px;
  --mixin-7DHYRMt2Jlfe_font-weight: 600;
  --mixin-7DHYRMt2Jlfe_letter-spacing: -0.8px;
  --mixin-7DHYRMt2Jlfe_line-height: 1.2;
  --mixin-w80W2QBbWWux_font-family: "Inter";
  --mixin-w80W2QBbWWux_color: #000000;
  --mixin-w80W2QBbWWux_font-size: 24px;
  --mixin-w80W2QBbWWux_font-weight: 600;
  --mixin-w80W2QBbWWux_letter-spacing: -0.5px;
  --mixin-w80W2QBbWWux_line-height: 1.3;
  --mixin-rdTVBNxeIsU2_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-rdTVBNxeIsU2_border-bottom-color: #dddddd;
  --mixin-rdTVBNxeIsU2_border-bottom-style: solid;
  --mixin-rdTVBNxeIsU2_border-bottom-width: 1px;
  --mixin-rdTVBNxeIsU2_border-left-color: #dddddd;
  --mixin-rdTVBNxeIsU2_border-left-style: solid;
  --mixin-rdTVBNxeIsU2_border-left-width: 1px;
  --mixin-rdTVBNxeIsU2_border-right-color: #dddddd;
  --mixin-rdTVBNxeIsU2_border-right-style: solid;
  --mixin-rdTVBNxeIsU2_border-right-width: 1px;
  --mixin-rdTVBNxeIsU2_border-top-color: #dddddd;
  --mixin-rdTVBNxeIsU2_border-top-style: solid;
  --mixin-rdTVBNxeIsU2_border-top-width: 1px;
  --mixin-rdTVBNxeIsU2_border-bottom-left-radius: 3px;
  --mixin-rdTVBNxeIsU2_border-bottom-right-radius: 3px;
  --mixin-rdTVBNxeIsU2_border-top-left-radius: 3px;
  --mixin-rdTVBNxeIsU2_border-top-right-radius: 3px;
  --mixin-rdTVBNxeIsU2_font-family: "Inconsolata";
  --mixin-rdTVBNxeIsU2_padding-bottom: 1px;
  --mixin-rdTVBNxeIsU2_padding-left: 4px;
  --mixin-rdTVBNxeIsU2_padding-right: 4px;
  --mixin-rdTVBNxeIsU2_padding-top: 1px;
  --mixin-sVziCLaOLM8r_border-left-color: #dddddd;
  --mixin-sVziCLaOLM8r_border-left-style: solid;
  --mixin-sVziCLaOLM8r_border-left-width: 3px;
  --mixin-sVziCLaOLM8r_color: #888888;
  --mixin-sVziCLaOLM8r_padding-left: 10px;
  --mixin-0c72xCM4RIfk_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-0c72xCM4RIfk_border-bottom-color: #dddddd;
  --mixin-0c72xCM4RIfk_border-bottom-style: solid;
  --mixin-0c72xCM4RIfk_border-bottom-width: 1px;
  --mixin-0c72xCM4RIfk_border-left-color: #dddddd;
  --mixin-0c72xCM4RIfk_border-left-style: solid;
  --mixin-0c72xCM4RIfk_border-left-width: 1px;
  --mixin-0c72xCM4RIfk_border-right-color: #dddddd;
  --mixin-0c72xCM4RIfk_border-right-style: solid;
  --mixin-0c72xCM4RIfk_border-right-width: 1px;
  --mixin-0c72xCM4RIfk_border-top-color: #dddddd;
  --mixin-0c72xCM4RIfk_border-top-style: solid;
  --mixin-0c72xCM4RIfk_border-top-width: 1px;
  --mixin-0c72xCM4RIfk_border-bottom-left-radius: 3px;
  --mixin-0c72xCM4RIfk_border-bottom-right-radius: 3px;
  --mixin-0c72xCM4RIfk_border-top-left-radius: 3px;
  --mixin-0c72xCM4RIfk_border-top-right-radius: 3px;
  --mixin-0c72xCM4RIfk_font-family: "Inconsolata";
  --mixin-0c72xCM4RIfk_padding-bottom: 3px;
  --mixin-0c72xCM4RIfk_padding-left: 6px;
  --mixin-0c72xCM4RIfk_padding-right: 6px;
  --mixin-0c72xCM4RIfk_padding-top: 3px;
  --mixin-zUXy0e_fBwmb_display: flex;
  --mixin-zUXy0e_fBwmb_flex-direction: column;
  --mixin-zUXy0e_fBwmb_align-items: stretch;
  --mixin-zUXy0e_fBwmb_justify-content: flex-start;
  --mixin-zUXy0e_fBwmb_list-style-position: outside;
  --mixin-zUXy0e_fBwmb_padding-left: 40px;
  --mixin-zUXy0e_fBwmb_position: relative;
  --mixin-zUXy0e_fBwmb_list-style-type: disc;
  --mixin-XmftZOkrBkr0_display: flex;
  --mixin-XmftZOkrBkr0_flex-direction: column;
  --mixin-XmftZOkrBkr0_align-items: stretch;
  --mixin-XmftZOkrBkr0_justify-content: flex-start;
  --mixin-XmftZOkrBkr0_list-style-position: outside;
  --mixin-XmftZOkrBkr0_padding-left: 40px;
  --mixin-XmftZOkrBkr0_position: relative;
  --mixin-XmftZOkrBkr0_list-style-type: decimal;
  --mixin-daQ9A2Gw3W7G0_font-family: "Inter";
  --mixin-daQ9A2Gw3W7G0_color: #000000;
  --mixin-daQ9A2Gw3W7G0_font-size: 20px;
  --mixin-daQ9A2Gw3W7G0_font-weight: 600;
  --mixin-daQ9A2Gw3W7G0_letter-spacing: -0.3px;
  --mixin-daQ9A2Gw3W7G0_line-height: 1.5;
  --mixin-NeBcSZ8NSRWvN_font-family: "Inter";
  --mixin-NeBcSZ8NSRWvN_color: #000000;
  --mixin-NeBcSZ8NSRWvN_font-size: 16px;
  --mixin-NeBcSZ8NSRWvN_font-weight: 600;
  --mixin-NeBcSZ8NSRWvN_line-height: 1.5;
  --mixin-Mo4t08cfq18gN_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-avP64sJBFoAi_font-family);
  font-size: var(--mixin-avP64sJBFoAi_font-size);
  font-weight: var(--mixin-avP64sJBFoAi_font-weight);
  font-style: var(--mixin-avP64sJBFoAi_font-style);
  color: var(--mixin-avP64sJBFoAi_color);
  text-align: var(--mixin-avP64sJBFoAi_text-align);
  text-transform: var(--mixin-avP64sJBFoAi_text-transform);
  line-height: var(--mixin-avP64sJBFoAi_line-height);
  letter-spacing: var(--mixin-avP64sJBFoAi_letter-spacing);
  white-space: var(--mixin-avP64sJBFoAi_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-HyCETYfCXQ5__color);
  font-weight: var(--mixin-HyCETYfCXQ5__font-weight);
  font-size: var(--mixin-HyCETYfCXQ5__font-size);
  line-height: var(--mixin-HyCETYfCXQ5__line-height);
  letter-spacing: var(--mixin-HyCETYfCXQ5__letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-sUsnO7W6X3Zg_font-family);
  color: var(--mixin-sUsnO7W6X3Zg_color);
  font-size: var(--mixin-sUsnO7W6X3Zg_font-size);
  font-weight: var(--mixin-sUsnO7W6X3Zg_font-weight);
  letter-spacing: var(--mixin-sUsnO7W6X3Zg_letter-spacing);
  line-height: var(--mixin-sUsnO7W6X3Zg_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-AaT4HR3dWzms_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-7DHYRMt2Jlfe_font-family);
  color: var(--mixin-7DHYRMt2Jlfe_color);
  font-size: var(--mixin-7DHYRMt2Jlfe_font-size);
  font-weight: var(--mixin-7DHYRMt2Jlfe_font-weight);
  letter-spacing: var(--mixin-7DHYRMt2Jlfe_letter-spacing);
  line-height: var(--mixin-7DHYRMt2Jlfe_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-w80W2QBbWWux_font-family);
  color: var(--mixin-w80W2QBbWWux_color);
  font-size: var(--mixin-w80W2QBbWWux_font-size);
  font-weight: var(--mixin-w80W2QBbWWux_font-weight);
  letter-spacing: var(--mixin-w80W2QBbWWux_letter-spacing);
  line-height: var(--mixin-w80W2QBbWWux_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-rdTVBNxeIsU2_background);
  font-family: var(--mixin-rdTVBNxeIsU2_font-family);
  border-radius: var(--mixin-rdTVBNxeIsU2_border-top-left-radius)
    var(--mixin-rdTVBNxeIsU2_border-top-right-radius)
    var(--mixin-rdTVBNxeIsU2_border-bottom-right-radius)
    var(--mixin-rdTVBNxeIsU2_border-bottom-left-radius);
  padding: var(--mixin-rdTVBNxeIsU2_padding-top)
    var(--mixin-rdTVBNxeIsU2_padding-right)
    var(--mixin-rdTVBNxeIsU2_padding-bottom)
    var(--mixin-rdTVBNxeIsU2_padding-left);
  border-top: var(--mixin-rdTVBNxeIsU2_border-top-width)
    var(--mixin-rdTVBNxeIsU2_border-top-style)
    var(--mixin-rdTVBNxeIsU2_border-top-color);
  border-right: var(--mixin-rdTVBNxeIsU2_border-right-width)
    var(--mixin-rdTVBNxeIsU2_border-right-style)
    var(--mixin-rdTVBNxeIsU2_border-right-color);
  border-bottom: var(--mixin-rdTVBNxeIsU2_border-bottom-width)
    var(--mixin-rdTVBNxeIsU2_border-bottom-style)
    var(--mixin-rdTVBNxeIsU2_border-bottom-color);
  border-left: var(--mixin-rdTVBNxeIsU2_border-left-width)
    var(--mixin-rdTVBNxeIsU2_border-left-style)
    var(--mixin-rdTVBNxeIsU2_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-sVziCLaOLM8r_color);
  padding-left: var(--mixin-sVziCLaOLM8r_padding-left);
  border-left: var(--mixin-sVziCLaOLM8r_border-left-width)
    var(--mixin-sVziCLaOLM8r_border-left-style)
    var(--mixin-sVziCLaOLM8r_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-0c72xCM4RIfk_background);
  font-family: var(--mixin-0c72xCM4RIfk_font-family);
  border-radius: var(--mixin-0c72xCM4RIfk_border-top-left-radius)
    var(--mixin-0c72xCM4RIfk_border-top-right-radius)
    var(--mixin-0c72xCM4RIfk_border-bottom-right-radius)
    var(--mixin-0c72xCM4RIfk_border-bottom-left-radius);
  padding: var(--mixin-0c72xCM4RIfk_padding-top)
    var(--mixin-0c72xCM4RIfk_padding-right)
    var(--mixin-0c72xCM4RIfk_padding-bottom)
    var(--mixin-0c72xCM4RIfk_padding-left);
  border-top: var(--mixin-0c72xCM4RIfk_border-top-width)
    var(--mixin-0c72xCM4RIfk_border-top-style)
    var(--mixin-0c72xCM4RIfk_border-top-color);
  border-right: var(--mixin-0c72xCM4RIfk_border-right-width)
    var(--mixin-0c72xCM4RIfk_border-right-style)
    var(--mixin-0c72xCM4RIfk_border-right-color);
  border-bottom: var(--mixin-0c72xCM4RIfk_border-bottom-width)
    var(--mixin-0c72xCM4RIfk_border-bottom-style)
    var(--mixin-0c72xCM4RIfk_border-bottom-color);
  border-left: var(--mixin-0c72xCM4RIfk_border-left-width)
    var(--mixin-0c72xCM4RIfk_border-left-style)
    var(--mixin-0c72xCM4RIfk_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-zUXy0e_fBwmb_display);
  flex-direction: var(--mixin-zUXy0e_fBwmb_flex-direction);
  align-items: var(--mixin-zUXy0e_fBwmb_align-items);
  justify-content: var(--mixin-zUXy0e_fBwmb_justify-content);
  list-style-position: var(--mixin-zUXy0e_fBwmb_list-style-position);
  padding-left: var(--mixin-zUXy0e_fBwmb_padding-left);
  position: var(--mixin-zUXy0e_fBwmb_position);
  list-style-type: var(--mixin-zUXy0e_fBwmb_list-style-type);
  flex-column-gap: var(--mixin-zUXy0e_fBwmb_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-XmftZOkrBkr0_display);
  flex-direction: var(--mixin-XmftZOkrBkr0_flex-direction);
  align-items: var(--mixin-XmftZOkrBkr0_align-items);
  justify-content: var(--mixin-XmftZOkrBkr0_justify-content);
  list-style-position: var(--mixin-XmftZOkrBkr0_list-style-position);
  padding-left: var(--mixin-XmftZOkrBkr0_padding-left);
  position: var(--mixin-XmftZOkrBkr0_position);
  list-style-type: var(--mixin-XmftZOkrBkr0_list-style-type);
  flex-column-gap: var(--mixin-XmftZOkrBkr0_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-daQ9A2Gw3W7G0_font-family);
  color: var(--mixin-daQ9A2Gw3W7G0_color);
  font-size: var(--mixin-daQ9A2Gw3W7G0_font-size);
  font-weight: var(--mixin-daQ9A2Gw3W7G0_font-weight);
  letter-spacing: var(--mixin-daQ9A2Gw3W7G0_letter-spacing);
  line-height: var(--mixin-daQ9A2Gw3W7G0_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-NeBcSZ8NSRWvN_font-family);
  color: var(--mixin-NeBcSZ8NSRWvN_color);
  font-size: var(--mixin-NeBcSZ8NSRWvN_font-size);
  font-weight: var(--mixin-NeBcSZ8NSRWvN_font-weight);
  line-height: var(--mixin-NeBcSZ8NSRWvN_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-Mo4t08cfq18gN_color);
}
